@page "/favorite-products"

@inject IAuthService AuthService
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@inject IShoppingCartService ShoppingCartService

<MudText Typo="Typo.h3" Style="margin-top: 3rem; margin-bottom: 3rem;" Align="Align.Center">Received Orders</MudText>

<div style="overflow-x: auto;">
    <MudTable FixedHeader="true" CustomFooter="true" FixedFooter="true" Items="@Products">
        <ColGroup>
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
        </ColGroup>

        <HeaderContent>
            <MudTh />
            <MudTh>Name</MudTh>
            <MudTh>Initial price</MudTh>
            <MudTh>Current price</MudTh>
            <MudTh>Added at</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd DataLabel="Image">
                @if (context?.Image is { Length: > 0 })
                {
                    <MudImage ObjectFit="ObjectFit.ScaleDown" Width="48" Height="48" Src="@context?.ImageUrl" />
                }
                else
                {
                    <MudImage ObjectFit="ObjectFit.ScaleDown" Width="48" Height="48" Src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081" />
                }
            </MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd Style="text-align:center" DataLabel="Initial price">@FavoriteProducts.First(fp => fp.ProductId == context.Id).InitialPrice</MudTd>
                <MudTd Style="text-align:center" DataLabel="Current price">@context.Price</MudTd>
                <MudTd Style="text-align:center" DataLabel="Added at">@FavoriteProducts.First(fp => fp.ProductId == context.Id).CreatedAt</MudTd>
                <MudTd DataLabel="Actions">
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.ShoppingCart" Color="Color.Primary" Variant="Variant.Filled" OnClick="() => AddToCart(context.Id)" />
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Variant="Variant.Filled" OnClick="() => RemoveFromFavorites(context.Id)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </div>
