@page "/my-products"

@inject IAuthService AuthService
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<RefreshToken/>
<RestrictAccess/>

<div class="d-flex flex-wrap justify-center">
	@if (!products.Any())
	{
		<MudText Typo="Typo.h5" Align="Align.Center">No products found</MudText>
	}
	else
	{
		@foreach (var product in products)
		{
			<MudItem Class="mt-3 mb-3 ml-3 mr-3">
				<MudCard Style="max-width: 25rem; min-width: 25rem">
					<MudCardHeader>
                        <CardHeaderContent>
                            <div class="d-flex align-center flex-row gap-4">
                                @if (product.IsVisible)
                                {
									<MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.Visibility" />
                                }
                                else
                                {
									<MudIcon Color="Color.Error" Icon="@Icons.Material.Filled.VisibilityOff" />
                                }

                                <MudText Typo="Typo.h6">@product.Name</MudText>
                            </div>
                        </CardHeaderContent>

						<CardHeaderActions>
							<MudTooltip Text="Edit product">
								<MudIconButton Icon="@Icons.Material.Rounded.Edit" OnClick="@(() => NavigateToEditProduct(product))"/>
							</MudTooltip>
						</CardHeaderActions>

					</MudCardHeader>

					@if (product?.Image is { Length: > 0 })
					{
						<MudCardMedia Height="400" Image="@product?.ImageUrl" />
					}
					else
					{
						<MudCardMedia Height="400" Image="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081"/>
					}

					<MudCardContent>
						<MudText Class="overflow-hidden" Typo="Typo.body1">@product.Description</MudText>
						<MudText Class="mt-2" Style="font-size: 18px">@product.Price RON</MudText>
					</MudCardContent>

				</MudCard>
			</MudItem>
		}

	}
</div>
