@page "/categories/{categoryId}/products/{productId}"

@inject IAuthService AuthService
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@inject IShoppingCartService ShoppingCartService

<RefreshToken />

<MudText Typo="Typo.h3" Style="margin-top: 3rem; margin-bottom: 3rem;" Align="Align.Center">@product?.Name</MudText>

<div class="d-flex flex-wrap justify-center">
    <MudItem Class="mt-3 mb-3 ml-3 mr-3" style="width:500px">
        <MudCard>
            <div>
                <MudAvatar Class="left-top-avatar" Size="Size.Large" Color="Color.Secondary">@product?.VendorName[0]</MudAvatar>
                @if (identifiedUserResult.IsSuccess && identifiedUserResult.Value?.Id == product?.VendorId)
                {
                    <MudFab 
                        Class="right-top-edit-button" 
                        Icon="@Icons.Material.Rounded.Edit" 
                        Size="Size.Small"
                        Color="Color.Warning" 
                        OnClick="EditProduct"
                    />
                }
                
                @if (product?.Image is { Length: > 0 })
                {
                    <MudCardMedia Height="500" Image="@product?.ImageUrl"/>
                }
                else
                {
                    <MudCardMedia Image="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081" Height="500" />
                }
            </div>

            <MudCardContent>
                <MudText Typo="Typo.body2">@product?.Description</MudText>
                <MudText Class="mt-2" Style="font-size: 18px;">@product?.Price RON</MudText>
            </MudCardContent>

            <MudCardActions>
                @if (identifiedUserResult.IsFailure)
                {
                    <MudTooltip Class="mr-auto" Text="Sign in to add to favourites">
                        <MudIconButton Icon="@Icons.Material.Filled.Star" Color="Color.Default" />
                    </MudTooltip>

                    <MudTooltip Class="ml-auto" Text="Sign in to add to cart">
                        <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" Color="Color.Default" />
                    </MudTooltip>
                }
                else
                {
                    @if (!favoriteProducts.Any(p => p.ProductId == product.Id))
                    {
                        <MudIconButton
                            Class="mr-auto"
                            Icon="@Icons.Material.Filled.Star"
                            Variant="Variant.Filled"
                            OnClick="() => ProductService.AddToFavorites(product.Id)"/>
                    }
                    else
                    {
                        <MudTooltip Class="mr-auto" Text="Remove from favourites">
                            <MudIconButton
                                Class="mr-auto"
                                Icon="@Icons.Material.Filled.Star"
                                Variant="Variant.Filled"
                                Color="Color.Error"
                                OnClick="() => RemoveFromFavorites(product)"/>
                        </MudTooltip>
                    }

                    <MudIconButton 
                        Class="ml-auto" 
                        Icon="@Icons.Material.Filled.ShoppingCart" 
                        Variant="Variant.Filled" 
                        Color="Color.Primary" 
                        OnClick="() => ShoppingCartService.Add(product.Id)" />
                }
            </MudCardActions>
        </MudCard>
    </MudItem>
</div>
             