@page "/orders/received"

@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject IOrderedProductService OrderedProductService

<MudText Typo="Typo.h3" Style="margin-top: 3rem; margin-bottom: 3rem;" Align="Align.Center">Received Orders</MudText>

<div style="overflow-x: auto;">
    <MudTable FixedHeader="true" CustomFooter="true" FixedFooter="true" Items="@OrderedProducts">
        <HeaderContent>
            <MudHidden Up="Breakpoint.Sm">
                <MudTh>Name</MudTh>
                <MudTh>Address</MudTh>
                <MudTh>Quantity</MudTh>
                <MudTh>Price per unit</MudTh>
                <MudTh>Status</MudTh>
                <MudTh>Actions</MudTh>
            </MudHidden>
        </HeaderContent>

        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Address">@(context.ShippingAddress == "" ? "-" : context.ShippingAddress)</MudTd>
                <MudTd Style="text-align:center" DataLabel="Quantity">@context.Count</MudTd>
                <MudTd Style="text-align:center" DataLabel="Price per unit">@context.Price</MudTd>
                <MudTd Style="text-align:center" DataLabel="Status">@context.Status.ToString()</MudTd>
                <MudTd DataLabel="Actions">
                    @if (context.Status == OrderStatus.Pending)
                {
                    <MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary" Variant="Variant.Filled" OnClick="() => Confirm(context)">
                        Confirm
                    </MudButton>
                }

                @if (context.Status == OrderStatus.Confirmed)
                {
                    <MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.Work" Color="Color.Primary" Variant="Variant.Filled" OnClick="() => Process(context)">
                        Process
                    </MudButton>
                }

                @if (context.Status == OrderStatus.Processing)
                {
                    <MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.DeliveryDining" Color="Color.Primary" Variant="Variant.Filled" OnClick="() => Deliver(context)">
                        Deliver
                    </MudButton>
                }

                @if (context.Status == OrderStatus.InDelivery)
                {
                    <MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary" Variant="Variant.Filled" OnClick="() => Fulfill(context)">
                        Fulfill
                    </MudButton>
                }
            </MudTd>
        </RowTemplate>
    </MudTable>
</div>
