@page "/cart"

@inject IAuthService AuthService
@inject IDialogService DialogService
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@inject IShoppingCartService ShoppingCartService

<RefreshToken />
<RestrictAccess />

<style>
    .blur-bg-modal {
        backdrop-filter: blur(10px);
    }
</style>

<MudText Typo="Typo.h3" Style="margin-top: 3rem; margin-bottom: 3rem;" Align="Align.Center">Shopping cart</MudText>

<div style="overflow-x: auto;">
    <MudTable Breakpoint="Breakpoint.Sm" FixedHeader="true" CustomFooter="true" FixedFooter="true" Items="@Products">
        <ColGroup>
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
        </ColGroup>

        <HeaderContent>
            <MudTh />
            <MudTh>Name</MudTh>
            <MudTh>Quantity</MudTh>
            <MudTh>Price per unit</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd DataLabel="Image">
                @if (context?.Image is { Length: > 0 })
                {
                    <MudImage ObjectFit="ObjectFit.ScaleDown" Width="48" Height="48" Src="@context?.ImageUrl" />
                }
                else
                {
                    <MudImage ObjectFit="ObjectFit.ScaleDown" Width="48" Height="48" Src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081" />
                }
            </MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd Style="text-align:center" DataLabel="Quantity">@Cart?.Products?[context.Id]</MudTd>
                <MudTd Style="text-align:center" DataLabel="Price per unit">@context.Price</MudTd>
                <MudTd DataLabel="Actions">
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" OnClick="() => Add(context.Id)" />
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Remove" Color="Color.Secondary" Variant="Variant.Filled" OnClick="() => Remove(context.Id)" />
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Variant="Variant.Filled" OnClick="() => Delete(context.Id)" />
                </MudTd>
            </RowTemplate>

            <FooterContent>
                <MudTd />

                <MudTd>
                    <MudText Typo="Typo.body1">Total: @GetTotal() RON</MudText>
            </MudTd>

            <MudTd />
            <MudTd />

            <MudTd>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Disabled="!Cart.Products.Any()" OnClick="() => OpenDialog()">Checkout</MudButton>
            </MudTd>
        </FooterContent>
    </MudTable>
</div>
