@using CSharpFunctionalExtensions

@inject IAuthService AuthService
@inject IShoppingCartService ShoppingCartService

<MudPaper Width="250px" Class="py-3 my-nav-menu" Height="100vh" Elevation="0">
    <MudNavMenu>
        <MudText Typo="Typo.h4" Class="px-4">Commerce</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Your favorite E-Commerce solution!</MudText>

        <MudDivider Class="my-2" />
        
        @if (identifiedUserResult.IsFailure)
        {
            <MudNavLink Icon="@CustomIcons.Material.Login" Href="/sign-in">Sign In</MudNavLink>
            <MudNavLink Icon="@CustomIcons.Material.SignUp" Href="/sign-up">Sign Up</MudNavLink>
        }
        else
        {
            <MudNavGroup Icon="@CustomIcons.Material.AccountCircle" Title="Account" Expanded="false">
                <MudNavLink Icon="@CustomIcons.Material.ManageAccounts" Href="/account">View</MudNavLink>
                <MudNavLink Icon="@CustomIcons.Material.Inventory" Href="/my-products">My products</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.Star" Href="/favorite-products">Favorites</MudNavLink>
                <MudNavLink Icon="@CustomIcons.Material.Logout" @onclick="() => AuthService.DeleteToken()">Sign out</MudNavLink>
            </MudNavGroup>

            <MudNavGroup Icon="@Icons.Material.Outlined.ShoppingCart" Title="Orders" Expanded="false">
                <MudNavLink Icon="@Icons.Material.Outlined.Receipt" Href="/orders/received">Received</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Outlined.Outbound" Href="/orders/mine">Mine</MudNavLink>
            </MudNavGroup>
        }

        <MudNavLink Icon="@CustomIcons.Material.Category" Href="/categories">Categories</MudNavLink>
        <MudNavLink Icon="@CustomIcons.Material.Storefront" Href="/products">Products</MudNavLink>
    </MudNavMenu>
</MudPaper>   

@if (identifiedUserResult.IsSuccess)
{
    <div class="my-nav-menu-cart">
        <MudButton FullWidth="true" StartIcon="@Icons.Material.Outlined.ShoppingCart" Href="/cart">Cart</MudButton>
    </div>
}